{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Celsius</h1><hr>
    <form action="/celsius/data/" method="POST">
        Insira os graus celsius<input type="text" name="celsius"><br>
        <input type="radio" id="fahrenheit" name="temperatura" value="fahrenheit">
        <label for="fahrenheit">Fahrenheit</label><br>
        <input type="radio" id="kelvin" name="temperatura" value="kelvin">
        <label for="kelvin">Kelvin</label><br><br>
        <input type="submit" value="Converter">
    </form>
<br>

<div>
  <a href="/" class="btn btn-warning">Voltar</a>
</div>
{% endblock %}
