{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Centímetros</h1><hr>
    <form action="/centimetros/data/" method="POST">
        Insira os centimetros<input type="text" name="centimetros"><br>
        <input type="radio" id="metros" name="comprimento" value="metros">
        <label for="metros">Metros</label><br>
        <input type="radio" id="quilometros" name="comprimento" value="quilometros">
        <label for="quilometros">Quilômetros</label><br><br>
        <input type="submit" value="Converter">
    </form>
<br>
{% endblock %}