{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Miligramas</h1><hr>
    <form action="/miligramas/data/" method="POST">
        Insira os miligramas<input type="text" name="miligramas"><br>
        <input type="radio" id="gramas" name="massa" value="gramas">
        <label for="gramas">Gramas</label><br>
        <input type="radio" id="quilogramas" name="massa" value="quilogramas">
        <label for="quilogramas">Quilogramas</label><br><br>
        <input type="submit" value="Converter">
    </form>
<br>

<div>
  <a href="/" class="btn btn-warning">Voltar</a>
</div>
{% endblock %}