{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Quilômetros</h1><hr>
    <form action="/quilometros/data/" method="POST">
        Insira os quilômetros<input type="text" name="quilometros"><br>
        <input type="radio" id="metros" name="comprimento" value="metros">
        <label for="metros">Metros</label><br>
        <input type="radio" id="centimetros" name="comprimento" value="centimetros">
        <label for="centimetros">Centímetros</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}